<!doctype html>
<html lang="{{ localeInfo.lang }}" dir="{{ localeInfo.direction }}">
<head>
  <meta charset="utf-8">
  {{ newrelic.getBrowserTimingHeader() | safe }}
  <meta name="csrf-token" content="{{ csrf }}">
  <title>Webmaker</title>
  <link rel="stylesheet" href="/bower/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/account.{{ localeInfo.direction }}.css">
</head>
<body>
  <div id="webmaker-nav">
  <!-- the webmaker bar -->
  <nav class="webmaker-nav-container">
    <a id="logo" href="https://webmaker.org/{{localeInfo.lang}}"><img src="/img/webmaker-logo.png" alt="Mozilla Webmaker" /></a>
    <ul class="webmaker-nav user-info">
      <li class="user">
        {{ gettext('Hi') }} <span id="identity" class="user-name-container"></span>
      </li>
      <li>
        <div class="webmaker-login persona-button" style="display: none;">
          <span dir="{{localeInfo.direction}}" class="text">{{ gettext("Sign in") }}</span><span dir="{{localeInfo.direction}}" class="tip"></span>
        </div>
        <span class="webmaker-logout" style="display: none;">{{ gettext("Sign out") }}</span>
      </li>
    </ul>
  </nav>
  <div class="my-projects-container">
  </div>
</div>
<div class="wm-user-panel">
  <div class="ui-wrapper ui-body">
      <div class="ui-poster">
        <div class="ui-row">
          <div class="g-3">
            <div id="user-avatar" class="ui-circle-frame"></div>
          </div>
          <div class="g-5">
            <h1>{{ gettext('Hi') }} <span class="wm-username"></span>!</h1>
            <ul class="no-list-styling">
              <li><span class="field-label">{{ gettext('Username') }}</span><span class="wm-username"></span></li>
              <li><span class="field-label">{{ gettext('My profile') }}</span><span class="wm-page"></span></li>
              <li><span class="field-label">{{ gettext('Email') }}</span><span class="wm-email"></span></li>
              <li><span class="field-label">{{ gettext('Send me emails when') }}:</span>
                  <ul class="wm-email-pref-list no-list-styling">
                    <li>
                      <input type="checkbox" id="sendEventCreationEmailsCheckbox">
                      <label for="sendEventCreationEmailsCheckbox">{{ gettext('I create an event') }}</label>
                    </li>
                    <li>
                      <input type="checkbox" id="sendMentorRequestEmailsCheckbox">
                      <label for="sendMentorRequestEmailsCheckbox">{{ gettext('I receive an Event Mentor request') }}</label>
                    </li>
                    <li>
                      <input type="checkbox" id="sendCoorganizerRequestEmailsCheckbox">
                      <label for="sendCoorganizerRequestEmailsCheckbox">{{ gettext('I receive an Event Co-organizer request') }}</label>
                    </li>
                  </ul>
              </li>
              <li><span class="field-label">{{ gettext("Language") }}</span><span class="wm-lang"></span>
                <select name="languagePref" id="languagePref" data-supported="{{languages}}">
                  {% for locale in languages %}<option value="{{ locale }}"{%
                  if locale == localeInfo.lang %} selected="selected"{% endif
                  %}>{{ languageEnglishName(locale) }} - {{ languageNameFor(locale) }}</option>{% endfor %}
                 </select>
              </li>
              <li>
                <span class="field-label"></span>
                <span class="email-prefs prefs-saved">{{ gettext("Your preferences have been saved") }}</span>
                <span class="email-prefs prefs-error">{{ gettext("Your preferences failed to save") }}</span>
              </li>
            </ul>

            <p><a id="delete-account">{{ gettext('Delete account?') }}</a></p>
          </div>
        </div>
      </div>
    </div>
    <div id="confirm-delete" class="ui-wrapper ui-body">
      <i class="icon-remove boxclose" id="boxclose"></i>
      <h2>{{ gettext('Are you sure you want to leave?') }}</h2>
      <p>{{ gettext('Enter your email to confirm:') }}</p>
      <p><input id="email-check"></p>
      <p><a id="delete-me" class="ui-btn">{{ gettext('Delete me forever') }}</a></p>
    </div>
  </div>
  <div class="ui-wrapper ui-body" id="logout-message">{{ gettext('Your user account was deleted!') }}</div>
  <div class="ui-wrapper ui-body" id="wrong-email">{{ gettext("Looks like that isnt your email") }}</div>
  <script src="{{ personaHostname }}/include.js"></script>
  <script src="/js/ext/require.js" data-main="/js/account"></script>
  {% if ga_account %}
  <script type="text/javascript">
    var _gaq = _gaq || [],
        domain = "{{ ga_domain }}";

    _gaq.push(['_setAccount', '{{ ga_account }}']);
    {% if domain %}
      _gaq.push(['_setDomainName', domain]);
    {% endif %}
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  {% endif %}

  {% include "/webmaker-auth-client/create-user/create-user-form.html" %}

</body>
</html>
