<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="csrf-token" content="{{ csrf }}">
    <meta name="persona-email" content="{{ login }}">
    <title>LoginAPI Admin Console</title>
    <!-- Bootstrap -->
    <link href="/ext/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/bower/nav-global/nav.css">
    <style type="text/css">
      div#error { color: #ff0000; }
    </style>
  </head>
  <body>
    <div id="webmaker-nav">
      <!-- the webmaker bar -->
      <nav class="webmaker-nav-container">
        <a id="logo" href="https://webmaker.org"><img src="{{ loginServer }}/img/webmaker-logo.png" alt="Mozilla Webmaker" /></a>
        <ul class="webmaker-nav user-info">
          <li class="user">
            Hi <span id="identity" class="user-name-container"></span>
          </li>
          <li class="makes"><button>My makes</button></li>
          <li>
            <iframe src="{{ audience }}/sso/include.html" class="include-frame"></iframe>
          </li>
        </ul>
      </nav>
    </div>
    <div class="row">
      <div class="span10 offset2">
        <h2> Admin console | LoginAPI</h2>
      </div>
    </div>
    <div class="row">
      <div class="span6 offset2">
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="find-user-input">
              <strong>Find user:</strong>
            </label>
            <div class="controls">
              <input id="find-user-input" name="find-user-input" title="" placeholder="Webmaker username" class="input-xlarge" type="text">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="user-find"></label>
            <div class="controls">
              <button id="find-by-user" type="button" name="user-find" class="btn btn-success">Find By User</button>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="email-find">
              <strong>Find user By email:</strong>
            </label>
            <div class="controls">
              <input id="find-email-input" name="email-find" title="" placeholder="email address" class="input-xlarge" type="text">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="email-find"></label>
            <div class="controls">
              <button id="find-by-email" type="button" name="email-find" class="btn btn-success">Find By Email</button>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="span6 offset2" id="error"></div>
    </div>
    <div class="row">
      <div class="span6 offset2">
        <h4>User Account</h4>

        <table class="table well well-small">
          <thead>
            <tr>
              <th>Description</th>
              <th>Data</th>
          </thead>
          <tbody>
            <tr>
              <td><p class="pull-right">User ID</p></td>
              <td><input id="id" value="" readonly /></td>
            </tr>
            <tr>
              <td><p class="pull-right">Email</p></td>
              <td><input id="email" value="" /></td>
            </tr>
            <tr>
              <td><p class="pull-right">Username/Subdomain</p></td>
              <td><input maxlength="20" size="20" value="" id="username" /></td>
            </tr>
            <tr>
              <td><p class="pull-right">Full Name</p></td>
              <td><input value="" id="fullname" /></td>
            </tr>
            <tr>
              <td><p class="pull-right">Admin Permissions</p></td>
              <td><input type="checkbox" value="true" id="isAdmin" /></td>
            </tr>
            <tr>
              <td><p class="pull-right">Collaborator Permissions</p></td>
              <td><input type="checkbox" value="true" id="isCollaborator" /></td>
            </tr>
            <tr>
              <td><p class="pull-right">Account suspended?</p></td>
              <td><input type="checkbox" value="true" id="isSuspended" /></td>
            </tr>
            <tr>
              <td><p class="pull-right">Communications</p></td>
              <td>
                <input type="checkbox" value="true" id="sendEngagements" />  Engagements<br />
                <input type="checkbox" value="true" id="sendNotifications" />  Notifications<br />
                <input type="checkbox" value="true" id="sendEventCreationEmails" /> Send event creation emails<br />
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <input type="hidden" value="true" id="newUser" />
                <button class="pull-right" id="clear">Clear Form</button>
                <button class="pull-right" id="delete">Delete</button>
                <button class="pull-right" id="submit">Save/Update</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <script src="/bower/jquery/jquery.min.js"></script>
    <script src="/js/console.js"></script>
    <script src="{{ audience }}/sso/include.js"></script>
    <script>
      navigator.idSSO.app = {
        onlogout: function() {
          var url =  "{{ loginServer }}" + "/console/signin";
          window.location.href = url;
        }
      };
    </script>
    <script src="{{ loginServer }}/js/sso-ux.js"></script>
  </body>
</html>

