/*********************************************************
* Webmaker nav
*/
.webmaker-nav-container {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  border-bottom: 1px solid #2d2f2f;
}
.webmaker-nav-container a {
  color: #FFF;
}
.webmaker-nav-container a:hover {
  color: #3fb58e;
}
.webmaker-nav-top {
  background: #3a3c3c;
  height: 29px;
}
.webmaker-nav {
  height: 29px;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 29px;
  font-size: 1em;
  color: #FFF;
}
.webmaker-nav > li {
  float: left;
}
.webmaker-nav > li > a,
.webmaker-nav > li > .link {
  position: relative;
  display: block;
  height: 100%;
  background: #3a3c3c;
  padding: 0 15px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: top 0.1s ease;
  -moz-transition: top 0.1s ease;
  -o-transition: top 0.1s ease;
  -ms-transition: top 0.1s ease;
  transition: top 0.1s ease;
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 0.5);
}
.webmaker-nav > li > a:hover,
.webmaker-nav > li > .link:hover,
.webmaker-nav > li > a.on,
.webmaker-nav > li > .link.on {
  color: #FFF;
}
.webmaker-nav > li > a.webmaker-btn-active,
.webmaker-nav > li > .link.webmaker-btn-active {
  color: #FFF;
  border-bottom-width: 1px;
  border-top: 1px solid #494c4c;
  background: #3a3c3c;
  top: 4px;
  box-shadow: 0 -6px 0 1px #2d2f2f, 1px -8px 10px -2px #212222;
  z-index: 10000;
}
/*********************************************************
* Primary menu
*/
.primary {
  float: left;
}
.primary > li {
  border-right: 1px solid #474949;
  border-left: 1px solid #2d2f2f;
}
.webmaker-expanded .primary > li {
  border-color: transparent;
}
.primary > li:last-child {
  border-right-color: transparent;
}
.primary > li a:hover {
  background: #3f4141;
}
/*********************************************************
* User/Login Styles
*/
.user {
  min-width: 150px;
}
.user-info {
  float: right;
  margin-right: 150px;
}
.user-info li {
  border-right: none;
}
.user-info > .notification-badge > a {
  display: none;
  height: 15px;
  width: 15px;
  padding: 0;
  border-radius: 5px;
  margin-top: 8px;
  border: 5px solid #606363;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0.7;
}
.user-info > .notification-badge > a:hover {
  opacity: 1;
}
.webmaker-nav > .user {
  position: relative;
}
.webmaker-nav > .user > a {
  padding-left: 8px;
}
/*********************************************************
* Typography
*/
.webmaker-txt-light {
  font-family: "Open Sans Light", "Open Sans", sans-serif;
}
.webmaker-h3,
.webmaker-h4 {
  margin: 1em 0 0.5em 0;
}
.webmaker-h3 {
  font-size: 1.4em;
}
.webmaker-h4 {
  font-size: 1.2em;
}
/* Login states */
.webmaker-nav-container:not(.logged-in) .user {
  display: none;
}
.webmaker-nav-container.logged-in .wm-login-container {
  display: none;
}
