# Copy this file to .env or just set these environment variables

# development or production
export NODE_ENV="development"

# Standard Winston log levels
LOG_LEVEL=debug

# Port for the HTTPD to listen on
export PORT=3000

# Local name for the HTTPD
export HOSTNAME="http://localhost"

# login server domain
export LOGIN="http://localhost"

# hostname for this server according to your browser
# if they don't match then Persona will not work
export AUDIENCE="http://personasso.s3-website-us-east-1.amazonaws.com"

# development consumer application parts
export DEV_PORTS="3001 3002"

# The domains that you want to allow to talk to and receive messages from
export ALLOWED_DOMAINS="http://localhost:3000 http://localhost:3001 http://localhost:3002"

# Connection string for local MongoDB instance and DB
export MONGO_URL="mongodb://localhost:27017/local_webmakers"

# Any Gobbledygook will do, bonus points for humor.
export SESSION_SECRET="I sometimes feed lunch meat to my neighbour's \"vegan\" dog."

# statsd metrics collection. If the following are left empty, no stats
# will be collected or sent to a server. Only STATSD_HOST and STATSD_PORT
# are required. STATSD_PREFIX is an optional prefix for all stats (defaults
# to "development.login" or "production.login" if left blank).
export STATSD_HOST=
export STATSD_PORT=
export STATSD_PREFIX=

# Authorisation for isAdmin route
export ALLOWED_USERS="testuser:password"

# Is this server running behind an SSL-enabled load-balancer?
export FORCE_SSL=false
