# Copy this file to .env or just set these environment variables

# Port for the HTTPD to listen on
export PORT=3000

# hostname for this server according to your browser
# if they don't match then Persona will not work
export AUDIENCE=http://localhost:3000

# The domains that you want to allow to talk to and receive messages from
export ALLOWED_DOMAINS="http://localhost:3001 http://localhost:3002"

# Connection string for local MongoDB instance and DB
export MONGO_URL="mongodb://localhost:27017/local_webmakers"

# Any Gobbledygook will do, bonus points for humor.
export SESSION_SECRET="I sometimes feed lunch meat to my neighbour's \"vegan\" dog."

# Standard Winston log levels
export LOG_LEVEL=debug

# statsd metrics collection. If the following are left empty, no stats
# will be collected or sent to a server. Only STATSD_HOST and STATSD_PORT
# are required. STATSD_PREFIX is an optional prefix for all stats (defaults
# to "development.login" or "production.login" if left blank).
export STATSD_HOST=
export STATSD_PORT=
export STATSD_PREFIX=

# Ensure NODE_ENV is set in some fashion
export NODE_ENV="development"

# Root domain for shared super-session (will be ".webmaker.org" in production)
export COOKIE_DOMAIN=".webmaker.local"
