# Copy this file to .env or just set these environment variables

# The space-separated list of origins (https?://host[:port])
# that are permitted to create and authenticate users.
# Using the wildcard (*) means any domain can create and authenticate
# users. If * is used, no other domains should be listed.
ALLOWED_DOMAINS="*"

# If you want to allow CORS access to the login front-end API, add them here
# (Space separated)
ALLOWED_CORS_DOMAINS="http://localhost:8080"

# Authorisation for isAdmin route
ALLOWED_USERS="testuser:password"

# hostname for the webmaker.org server, to link to things
WEBMAKERORG="http://localhost:7777"

# Default link used in reset emails
RESET_URL="http://localhost:7777/explore"

# domain for user profile page
PROFILE=".makes.org"

# AWS credentials used for hatchet
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# hatchet configuration
HATCHET_APP_NAME=
HATCHET_QUEUE_REGION=
HATCHET_QUEUE_URL=

# Database config details for sequelize
# (mysql)
DBOPTIONS_HOST=
DB_USERNAME="root"
DB_PASSWORD="root"
DB_DATABASE="local_webmakers"
DBOPTIONS_PORT=3306
DBOPTIONS_DIALECT="mysql"
DBOPTIONS_LOGGING=false

# Is this server running behind an SSL-enabled load-balancer?
FORCE_SSL=false

# Google Analytics info
GA_ACCOUNT=""
GA_DOMAIN=""

# Local name for the HTTPD
APP_HOSTNAME="http://localhost:3000"

# What is our fully qualified login API acces point?
LOGINAPI="http://testuser:password@localhost:3000"

# development or production
NODE_ENV="development"

# Port for the HTTPD to listen on
PORT=3000

# A Secret used to sign Session cookies.
SESSION_SECRET='dummy secret value'

# statsd metrics collection. If the following are left empty, no stats
# will be collected or sent to a server. Only STATSD_HOST and STATSD_PORT
# are required. STATSD_PREFIX is an optional prefix for all stats (defaults
# to "development.login" or "production.login" if left blank).
STATSD_HOST=
STATSD_PORT=
STATSD_PREFIX=

# i18n Language Support
SUPPORTED_LANGS=[ "*" ]
