<div class="webmaker-create-user">
  <form id="sso_create" action="<%= process.env.AUDIENCE %>/user" method="POST">
    <legend>Claim your webmaker space</legend>
    <div class="display-username-container row">
      <label for="username" class="visually-hidden">Display username</label>
      <input class="display-username-input" type="text" name="username" id="username" required> .makes.org
    </div>
    <div class="row">
      <input type="checkbox" name="bsd" id="bsd" class="inline">
      <label for="bsd" class="inline">Send me email updates about Mozilla Webmaker and other projects</label>
    </div>
    <div class="row">
      <input type="checkbox" name="terms" id="terms" class="inline" required>
      <label for="terms" class="inline">I agree to your <a href="<%= process.env.AUDIENCE %>/terms">terms</a>
       and <a href="<%= process.env.AUDIENCE %>/privacy">conditions</a></label>
    </div>
    <input class="create-user-submit" type="submit" value="Create my account">
  </form>
</div>
